body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:50px;
  width:320px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:50px;
  width:320px;
  height:38px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:64px;
  width:49px;
  height:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:11px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:240px;
  width:280px;
  height:280px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u7 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:135px;
  top:550px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:110px;
  width:300px;
  height:102px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:102px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:246px;
  top:617px;
  width:133px;
  height:22px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
  font-family:'HanziPenSC-W5', 'HanziPen SC Bold', 'HanziPen SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#339999;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
