body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:60px;
  width:900px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u1 {
  position:absolute;
  left:70px;
  top:25px;
  width:173px;
  height:28px;
  font-size:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:534px;
  top:187px;
  width:277px;
  height:278px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:278px;
}
#u4 {
  position:absolute;
  left:2px;
  top:131px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:536px;
  top:130px;
  width:274px;
  height:56px;
  text-align:center;
  line-height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:56px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:20px;
  top:18px;
  width:40px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:212px;
  top:131px;
  width:81px;
  height:28px;
  font-size:16px;
  text-align:center;
  line-height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:74px;
  top:187px;
  width:357px;
  height:281px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:281px;
}
#u12 {
  position:absolute;
  left:2px;
  top:132px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:122px;
  top:216px;
  width:260px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:122px;
  top:269px;
  width:260px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:43px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:152px;
  top:349px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:316px;
  top:421px;
  width:66px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
