body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:51px;
  width:510px;
  height:969px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:969px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:1180px;
  width:400px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
