body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:146px;
  top:60px;
  width:326px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:146px;
  top:60px;
  width:326px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:322px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:146px;
  top:120px;
  width:326px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:70px;
}
#u5 {
  position:absolute;
  left:10px;
  top:27px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:448px;
  top:148px;
  width:42px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:146px;
  top:210px;
  width:326px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:120px;
}
#u9 {
  position:absolute;
  left:10px;
  top:52px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:448px;
  top:224px;
  width:42px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:156px;
  top:221px;
  width:53px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:156px;
  top:245px;
  width:304px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:304px;
  height:1px;
}
#u15 {
  position:absolute;
  left:448px;
  top:262px;
  width:42px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:156px;
  top:259px;
  width:53px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:156px;
  top:284px;
  width:304px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:304px;
  height:1px;
}
#u20 {
  position:absolute;
  left:448px;
  top:301px;
  width:42px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:156px;
  top:298px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:156px;
  top:360px;
  width:304px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:11px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:156px;
  top:133px;
  width:40px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:212px;
  top:136px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:214px;
  top:156px;
  width:118px;
  height:18px;
  font-size:11px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:156px;
  top:75px;
  width:36px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
