body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:50px;
  width:310px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:166px;
  top:140px;
  width:57px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:149px;
  top:240px;
  width:91px;
  height:22px;
  font-family:'HanziPenSC-W5', 'HanziPen SC Bold', 'HanziPen SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:163px;
  top:396px;
  width:63px;
  height:63px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:462px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:40px;
  top:680px;
  width:300px;
  height:510px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:510px;
}
#u11 {
  position:absolute;
  left:2px;
  top:247px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:91px;
  top:1012px;
  width:200px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:76px;
  top:842px;
  width:230px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u15 {
  position:absolute;
  left:76px;
  top:824px;
  width:164px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:76px;
  top:764px;
  width:43px;
  height:42px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:2010px;
  width:310px;
  height:540px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:540px;
}
#u20 {
  position:absolute;
  left:2px;
  top:262px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:70px;
  top:2110px;
  width:250px;
  height:309px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:309px;
}
#u22 {
  position:absolute;
  left:2px;
  top:146px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:142px;
  top:2219px;
  width:105px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:290px;
  top:2090px;
  width:10px;
  height:20px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u26 {
  position:absolute;
  left:280px;
  top:2060px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:76px;
  top:880px;
  width:230px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u29 {
  position:absolute;
  left:76px;
  top:862px;
  width:86px;
  height:18px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:76px;
  top:918px;
  width:230px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u32 {
  position:absolute;
  left:76px;
  top:900px;
  width:60px;
  height:18px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:230px;
  top:896px;
  width:76px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#339999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:1390px;
  width:300px;
  height:500px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u37 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:80px;
  top:1717px;
  width:199px;
  height:18px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:58px;
  top:1430px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:90px;
  top:1801px;
  width:200px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u43 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:80px;
  top:1744px;
  width:250px;
  height:18px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:420px;
  top:340px;
  width:300px;
  height:51px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:420px;
  top:680px;
  width:320px;
  height:36px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:420px;
  top:726px;
  width:282px;
  height:506px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:506px;
}
#u51 {
  position:absolute;
  left:2px;
  top:245px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:421px;
  top:731px;
  width:280px;
  height:496px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:496px;
}
#u53 {
  position:absolute;
  left:2px;
  top:240px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:728px;
  top:726px;
  width:282px;
  height:506px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:506px;
}
#u55 {
  position:absolute;
  left:2px;
  top:245px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:729px;
  top:727px;
  width:280px;
  height:500px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:500px;
}
#u57 {
  position:absolute;
  left:2px;
  top:242px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1150px;
  top:770px;
  width:230px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u59 {
  position:absolute;
  left:1150px;
  top:752px;
  width:86px;
  height:18px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1150px;
  top:808px;
  width:230px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u62 {
  position:absolute;
  left:1150px;
  top:790px;
  width:60px;
  height:18px;
  color:#999999;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1280px;
  top:786px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1150px;
  top:680px;
  width:320px;
  height:36px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1230px;
  top:754px;
  width:78px;
  height:15px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:1150px;
  top:892px;
  width:230px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u71 {
  position:absolute;
  left:1150px;
  top:874px;
  width:86px;
  height:18px;
  color:#999999;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:1150px;
  top:930px;
  width:230px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u74 {
  position:absolute;
  left:1150px;
  top:912px;
  width:60px;
  height:18px;
  color:#999999;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1280px;
  top:908px;
  width:100px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#339999;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u77 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1230px;
  top:876px;
  width:78px;
  height:15px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1150px;
  top:1030px;
  width:320px;
  height:54px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:410px;
  top:1390px;
  width:320px;
  height:54px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:410px;
  top:1461px;
  width:260px;
  height:139px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:139px;
}
#u85 {
  position:absolute;
  left:2px;
  top:62px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:740px;
  top:1390px;
  width:320px;
  height:72px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:740px;
  top:1474px;
  width:270px;
  height:233px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:233px;
}
#u89 {
  position:absolute;
  left:2px;
  top:108px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:741px;
  top:1526px;
  width:269px;
  height:180px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:180px;
}
#u91 {
  position:absolute;
  left:2px;
  top:82px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:740px;
  top:1474px;
  width:270px;
  height:53px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:53px;
}
#u93 {
  position:absolute;
  left:2px;
  top:18px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:750px;
  top:1486px;
  width:170px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:930px;
  top:1486px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#339999;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:402px;
  top:1744px;
  width:300px;
  height:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:402px;
  top:2092px;
  width:300px;
  height:18px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:206px;
  top:1474px;
  width:119px;
  height:47px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:47px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:58px;
  top:1475px;
  width:139px;
  height:165px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:165px;
}
#u105 {
  position:absolute;
  left:2px;
  top:74px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:71px;
  top:1519px;
  width:110px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u107 {
  position:absolute;
  left:71px;
  top:1501px;
  width:87px;
  height:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:71px;
  top:1558px;
  width:110px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u110 {
  position:absolute;
  left:71px;
  top:1539px;
  width:111px;
  height:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:71px;
  top:1579px;
  width:51px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#339999;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:129px;
  top:1579px;
  width:51px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:178px;
  top:1660px;
  width:69px;
  height:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:410px;
  top:1613px;
  width:320px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
